{% extends 'Shared/shared.html' %}
{% load staticfiles %}
{% block titulo %}
    Catastro
{% endblock titulo %}


{% block contenido %}
{% block JS %}
{{block.super}}
<script src="{% static "js/agency.js" %}"></script>

{% endblock JS %}
    {% block cuerpo %}
         <!-- Header -->
        <header style="background-image: url('{%static "img/parque.jpg"%}');">
            <div class="container">

                <div class="intro-text">
                    <!--<div class="intro-lead-in"></div>-->
                    <div class="intro-heading">Catastro</div>
                    <a href="#services" class="page-scroll btn btn-xl">Cuentame más</a>

                </div>
            </div>
        </header>
    {% endblock cuerpo %}


{% endblock contenido %}
