{% extends 'Shared/shared.html' %}
{% load staticfiles %}
{% block titulo %}
    Portal de Municipalidad
{% endblock titulo %}
{% block contenido %}
    {% block JS %}
        <script src="{% static "js/agency.min.js" %}"></script> <!--Script de funcionalidad-->
        {{block.super}} <!--Esto manda a llamar todos los script-->
    {% endblock JS %}
    {% block cuerpo %}
        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in" style="text-shadow:3px 3px #000;">Municipalidad</div>
                    <div class="intro-heading" style="text-shadow:3px 3px #000;">Es un placer que nos visite</div>
                    
                </div>
            </div>
        </header>
        <!-- Team Section -->
        <section id="team" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Municipalidad</h2>
                        <h3 class="section-subheading text-muted">San Miguel Tepezontes</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="team-member">
                            <a href="/mensaje">
                                <img src="{% static "img/Index/Municipalidad/mensaje.jpg" %}" class="img-responsive img-circle" alt="" height="215px" width="215px">
                            <h4>Mensaje del Alcalde</a></h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <a href="/concejo">
                                <img src="{% static "img/Index/Municipalidad/concejo.jpg" %}" class="img-responsive img-circle" alt="">
                            <h4>Concejo Municipalidad</a></h4>
                            
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <a href="/nomina">
                                <img src="{% static "img/Index/Municipalidad/estructura.jpg" %}" class="img-responsive img-circle" alt="" alt="" height="215px" width="215px">
                            <h4>Nomina de empleados</a></h4>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock cuerpo %}
    {%endblock%}