{% extends 'Shared/shared.html' %}
{% load staticfiles %}
{% block titulo %}
  Comida Típica - Alcaldia de San Miguel Tepezontes
{% endblock titulo %}
{% block contenido %}
  {% block JS %}
    {{block.super}} <!--Esto manda a llamar todos los script-->
  {% endblock JS %}
  <div class="call-to-action">
    <div class="call-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-10">
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="call-to-action">
    <div class="call-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-10">
            
            <h1 style="color:#70F1EC">{{comida.nombre}}</h1>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div id="tur1" class="call-to-action">
    <div class="call-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-10">
            <div class="subscribe-text">
              
              <p style="text-align:justify;">{{comida.descripcion}}</p>
              
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="counter-item text-center" >
              
              <img src="{% static comida.imagen %}" alt=""  width="400" height="200">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="t1" class="portfolio">
    {% for gale in galeria %}
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3>{{ gale.nombre_galeria}}</h3>
          </div>
        </div>
        <div class="row">
          {% for imagen  in gale.comida_fotos.all %}
            <div class="col-md-4 col-sm-6 col-md-offset-1 portfolio-item">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                </div>
              </div>
              <img src="{% static imagen.imagen_galeria %}"  class="img-rounded img-portfolio" alt="" width="450" height="400">
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
  <script type="text/javascript" src="{% static "js/jquery.countTo.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.waypoints.min.js" %}"></script>
{% endblock contenido %}
{% block enlace %}
  <a href="/comida">Comida</a>
{% endblock enlace %}