.fondo{
  background-color:  #e1e1de;
}
.Titulo{
  color: #292825;
  border-width: 1;
  font-style: italic;
  font-size: 50px;
  font-weight: bold;

}

.final{
  text-align: right;
  color: #303633;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0 0;
}


#titulo1{
  background-color: #383a3a;
  color: #dfedf1;
  	font-size:17px;
  	font-weight: bold;
  	margin: 0 0 0 0;
}

#montot{
  text-align: center;
}

#nombre{
  font: small-caps 90% sans-serif ;
  border: 2;
  border-color: #383a3a;
}

#monto{
  font: small-caps 110% sans-serif small-caps;
  text-align: center;
  border: 2;
  border-color: #383a3a;
}
