{% extends 'Shared/shared.html' %}
{% load staticfiles %}
{% block titulo %}
    Ordenanza
{% endblock titulo %}


{% block contenido %}
{% block JS %}
<script src="{% static "js/agency.min.js" %}"></script> <!--Script de funcionalidad-->
{{block.super}} <!--Esto manda a llamar todos los script-->

{% endblock JS %}

{% block cuerpo %}
 <!-- Header -->
    <header style="background-image: url('{%static "/img/Servicios/fondoServicios.JPG"%}');">
        <div class="container">

            <div class="intro-text">
                <!--<div class="intro-lead-in"></div>-->
                <div class="intro-heading">Ordenanza</div>
                <a href="#ordenanza" class="page-scroll btn btn-xl">Cuentame más</a>

            </div>
        </div>
    </header>
    {% for documento in documentos %}
     <div class="col-md-3">

           <span class="fa-stack fa-4x">

  <!--AQuie esta el fallo --><a href="{% static documento.archivo %}"><i class="fa fa-circle fa-stack-2x text-primary"></i>

               <i class="fa fa fa-home fa-stack-1x fa-inverse"></i></a>
           </span>
           <h4 class="service-heading">Registro del estador familiar</h4>
           <p class="text-muted">Este espacio esta hecho con el fin de poder agrupar todos los servicios de la municipalidad en una sola seccion, para que los ciudadanos tengan una mayor facilidad de comunicacion con la alcaldia.</p>

    </div>
      {% endfor %}

      {% endblock cuerpo %}

{%endblock%}
