{% extends 'Shared/shared.html' %}
{% load staticfiles %}
{% block titulo %}
    Ordenanza
{% endblock titulo %}


{% block contenido %}
{% block JS %}
<script src="{% static "js/agency.min.js" %}"></script> <!--Script de funcionalidad-->
{{block.super}} <!--Esto manda a llamar todos los script-->

{% endblock JS %}

{% block cuerpo %}
 <!-- Header -->
    <header style="background-image: url('{%static "/img/Servicios/fondoServicios.JPG"%}');">
        <div class="container">

            <div class="intro-text">
                <!--<div class="intro-lead-in"></div>-->
                <div class="intro-heading">Ordenanza</div>
                <a href="#ordenanza" class="page-scroll btn btn-xl">Cuentame más</a>

            </div>
        </div>
    </header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <table class="table-bordered table">
                    
                    <thead>
                        <tr>
                            <th colspan="10">ORDENANZAS</th>
                        </tr>
                        <tr>
                            <th colspan="2">DANIEL MARTIR</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>01. Alumbrado publico, metro lineal  al mes
                                <br>(se clasificara hasta una distancia de 50 metros del bombillo)
                            </td>
                            <td>$0,06</td>
                        </tr>

                         <tr>
                            <td>02. servicio de recoleccion de deshecho solido 
                                <br>cada familia al mes …………………………..
                                <br>instituciones del estado, personas juridicas y sucesiones
                            </td>

                            <td>
                                <br>$2.00
                                <br>
                                <br>$3.00
                            </td>   
                        </tr>            

                        <tr>
                            <td>03. mercados plaza y sitios publico.
                                <br>locales fijos municipales, arrendamiento mensual 
                                <br>CHALET Y OTROS NEGOCIO EN SITIOS PUBLICOS, AL MES 
                                <br>permiso para construcion de chalet, en sitios publicos o privados
                            </td>
                
                            <td>
                                <br>$5.00
                                <br>
                                <br>$5.00
                                <br>
                                <br>$5.00
                            </td>  
                        </tr>

                        <tr>
                            <td>04.calles pavimentadas, hidraulico  y alfaltico 
                                <br>por metro cuadrado, al mes ……………….
                                <br>calles empedrado, fraguado, por metro cuadrado al mes…………………………………………………..
                            </td>
                            
                            <td>
                                <br>$0.05
                                <br>
                                <br>$0.04
                            </td>
                        </tr>

                        <tr>
                            <td>05. Rastro 
                                <br>registro de refrenda anual de matricula de destace
                                <br>registro o refrenda por matricula de matarife de ganado anual………………………………..
                                <br>Destace de ganado mayor por cabeza 
                                <br>Destace de ganado menor por cabeza
                            </td>

                            <td>
                                <br>
                                <br>$3.00
                                <br>
                                <br>$5.00
                                <br>$2.00
                                <br>$1.00
                            </td>
                        </tr>

                        <tr>
                            <td>Tiagues
                                <br>contrato  compra venta de ganado 
                                <br>registro o refrenda anual de matricula de fierro de herrrar ganado…………… 
                            </td>

                            <td>
                                <br>$1.75
                                <br>
                                <br>$3.00
                            </td>
                        </tr>

                        <tr>
                            <td>06. Cementerio 
                                <br>por derecho de enterramiento en nicho
                                <br>permiso de construcion de nicho cada uno 
                                <br>
                                <br>
                                <br>enterramiento  simple en fosa comun
                                <br>formulario de titulo de derecho a perpetuidad cada uno………………………..
                                <br>traspaso o repossicion del titulo con derecho a perpetuidad………………………
                                <br>derecho a perpetuidad por cada metro cuadrado………………………………………………
                            </td>

                            <td>
                                <br>$5.00
                                <br>10%del valor de la obra
                                <br>$3.75
                                <br>
                                <br>$1.00
                                <br>
                                <br>$2.00
                                <br>
                                <br>$10.00
                            </td>
                        </tr>

                        <tr>
                            <td>de las tasas anteriores en lo que respeta a fosa simple 
                                <br>estaran exentos los pobres de solemnidad previo del 
                                <br>consejo municipal
                            </td>
                        </tr>

                        <br>

                        <tr>
                            <th colspan="2">DANIEL MARTIR</th>
                        </tr>

                        <tr>
                            <td>07.por estacionamiento en la plaza publica por hora o fraccion, exentos los usuarios de la alcaldia 
                                <br>municipales…………………………………………
                                <br>por uso de calles o espacio publicos diarios…………………………………………………. 
                            </td>

                            <td>
                                <br>
                                <br>
                                <br>$0.25
                                <br>
                                <br>$3.00
                            </td>
                        </tr>

                        <tr>
                            <td>08. servicios administrativos y juridico:
                                <br>pago por expedicion de titulo y predios urbanos……………………………………………….
                                <br>por inspeccion de inmuebles a solicitud de parte interesada………………………….
                                <br>reposicion de titulos de predios rusticos y urbanos………………………………………….
                            </td>

                            <td>
                                <br>
                                <br>$25.00
                                <br>
                                <br>$15.00
                                <br>
                                <br>$30.00
                            </td>
                        </tr>

                        <tr>
                            <td>09. Resgistro familiar 
                                <br>Certificaciones y constancias ………………….
                                <br>Certificaciones y constancia varias…….
                                <br>expedicion de carnet de minoridad…..
                                <br>Matrimonio en oficina dias habiles 
                                <br>En dias NO habiles $ 15.00 y fuera de la oficina dia  NO habiles zona urbana y rural …………..
                                <br>En dias no habiles zona urbana  y rural
                            </td>

                            <td>
                                <br>$1.90
                                <br>$1.00
                                <br>$0.57
                                <br>$10.00
                                <br>
                                <br>$15.00
                                <br>$20.00
                            </td>
                        </tr>

                        <tr>
                            <td>10. Revicion de planos 
                                <br>Para costrucion de cualquier naturaleza 
                                <br>De urbanizaciones, parcelaciones y lotificaciones por cada lote ………………………………………
                            </td>

                            <td>
                                <br>$1.00
                                <br>
                                <br>$15.00
                            </td>
                        </tr>

                        <tr>
                            <td>11. Para uso de suelo y subsuelo asi:
                                <br>por romper pavimentacion,adoquinado, concretiado empedrado para  realizar reparaciones o proyectos por metro cuadrado ……………………………
                                <br>por rompimiento de aceras, calles pr empresas para instalacones de meddores de agua y postes  de cualquier tipo ……………………………….
                                <br>por medidor de agua potable  de empresa operadora  cada una al mes 
                            </td>

                            <td>
                                <br>
                                <br>
                                <br>
                                <br>$5.00
                                <br>
                                <br>
                                <br>$5.00
                                <br>
                                <br>$0.10
                            </td>
                        </tr>

                        <tr>
                            <td>12. Torre telefonicas, postes de concreto o similares de energia electrica y telefonia
                                <br>Torres o antenas telefonicas mensual..
                                <br>Poste de alumbrado publico y de telefonia de cualquier medida por mes
                            </td>

                            <td>
                                <br>
                                <br>$50.00
                                <br>
                                <br>$2.00
                            </td>
                        </tr>

                        <br>

                        <tr>
                            <th colspan="2">DANIEL MARTIR</th>
                        </tr>

                        <tr>
                            <td>13. Permisos 
                                <br>a) para situar materiales de construcion en las calles urbanas sin estorbar el transito de vehiculo o cierre de la calle para eventos…………
                                <br>b) permisos anual para colocar rotulos o anuncios tepmporales o fijos …………
                                <br>c) permisos para realizar proyectos nuevos o ampliaciones por las empresas electricas, cables de telefonica y otros, por cada uno montos: 
                                <br>hasta $ 10.000………………………………………
                                <br>de 10.001.00 hasta $500,000.00……………
                                <br>de 50,001.00 en adelante ……………………
                                <br>d) Permiso anual por circulacion por buses……………………………………………………
                                <br>f) Permiso anual por rotulo pequeños tienda, medicos, abogad, otros profecionales………………………………………
                                <br>g) permiso anual de operar maquinas de monedas no prohibidas por la ley anual…………………………………………………..
                                <br>h) permiso anual por aperar sus negocios las empresas de telefonia, agua, cable, electricidad y otros……………………………..
                                <br>I) permiso por construcion de cualquier clase en vivienda ………………………………..
                                <br>j) permiso por conexión a red electricidad municipal…………………………………………….
                            </td>

                            <td>
                                <br>
                                <br>
                                <br>$5.00
                                <br>
                                <br>$25.00
                                <br>
                                <br>
                                <br>
                                <br>$50.00
                                <br>$100.00
                                <br>$200.00
                                <br>
                                <br>$60.00
                                <br>
                                <br>
                                <br>$2.50
                                <br>
                                <br>
                                <br>$15.00
                                <br>
                                <br>
                                <br>$12.50
                                <br>
                                <br>$12.50
                                <br>
                                <br>$10.00
                            </td>
                        </tr> 
                    </tbody>
                </table>               
            </div> 

            <div class="col-md-5">
                <table class="table table-bordered">
    
                    <thead>
                         <tr>
                            <th colspan="10">ORDENANZAS</th>
                        </tr>
                        
                        <tr>
                            <th colspan="2">LUIS LOPEZ</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>1) alumbrado electrico publico, de cualquier tipo de iluminacion metro lineal al mes:
                                <br>a) inmuebles habitacionales ………………
                                <br>b) inmuebles de empresas, Fabricas e instituciones del estado…………………….
                                <br>c)predios baldios por el inmueble cancelara al mes…………………………………….
                            </td>

                            <td>
                                <br>
                                <br>$0.05
                                <br>
                                <br>$0.20
                                <br>
                                <br>$0.50
                            </td>
                        </tr>

                        <tr>
                            <td>2.Servicios de tren de aseo, metro cuadrado al mes 
                                <br>a) inmuebles habitacionales…………………
                                <br>b) inmuebles de Empresa, fabricas e instituciones del Estado ……………………
                            </td>

                            <td>
                                <br>
                                <br>$0.03
                                <br>
                                <br>$0.20
                            </td>
                        </tr>

                        <tr>
                            <td>3. mercados, plazas y sitios publicos: 
                                <br>a) locales fijos municipales con servicios de agua y energia electrica c/u al dia………………..
                                <br>b) chalet privados y comedores al dia…
                            </td>

                            <td>
                                <br>
                                <br>$1.25
                                <br>$0.50
                            </td>
                        </tr>

                        <tr>
                            <td>4. pavimentacion asfaltica, de concreto, adoquinado o adoquinado mixto. Por metro cuadrado al mes:
                                <br>a) inmuebles habitacioneles………………..
                                <br>b) inmuebles de empresas, fabricas e instituciones del estado…………………….
                                <br>c)predios baldios por todo el inmueble cancelara al mes……………………………………
                            </td>

                            <td>
                                <br>
                                <br>
                                <br>$0.05
                                <br>
                                <br>$0.20
                                <br>
                                <br>$0.50
                            </td>
                        </tr>

                        <tr>
                            <td>5. Ganaderia 
                                <br>a) Sacrificio o destace por cabeza  ganado mayor o menor …………………………………….
                                <br>b)tiangues: visto bueno por cabeza……..
                                <br>c) formulario para cartas de ventas y cotejo de fierro cada uno………………………………..
                            </td>

                            <td>
                                <br>
                                <br>$1.25
                                <br>$1.50
                                <br>
                                <br>$0.25
                            </td>
                        </tr>

                        <tr>
                            <td>6. Matricula de fierro para herrar ganado 
                                <br>a)registro o ofrenda anual de matricula de fierro (primero 3 meses)…………………
                                <br>b) registro o ofrenda anual de matricula a dueños de destace …………………………….
                                <br>c) registro o ofrenda, por matricula de matarife c/u al año………………………………
                            </td>

                            <td>
                                <br>
                                <br>$3.00
                                <br>
                                <br>$3.00
                                <br>
                                <br>$5.00
                            </td>
                        </tr>

                        <br>

                        <tr>
                            <th colspan="2">LUIS LOPEZ</th>
                        </tr>

                        <tr>
                            <td>7. cementerios
                                <br>a) por el derecho de enterramiento, cada metro cuadrado…………………………………….
                                <br>b)permiso por construcion de nicho cada uno y adicional al pago se cancelara el 10% del + valor de la inversion en la construcion de nicho ……………………………
                                <br>c) enterramiento simple en fosa c/u……
                                <br>d) formulario de titulo de derecho a perpetuidad cada uno…………………………..
                                <br>e) traspaso o reposicion del titulo  con derecho a perpetuidad c/u ………………….
                            </td>

                            <td>
                                <br>
                                <br>$5.00
                                <br>
                                <br>
                                <br>
                                <br>$10.00
                                <br>$3.75
                                <br>
                                <br>$1.00
                                <br>
                                <br>$2.00
                            </td>
                        </tr>

                        <tr>
                            <td>8. por estacionamiento o circulacion en calles urbanas publicas.
                                <br>a) buses de servicios generales. Cada uno por cada entrada y salida …………………………….
                            </td>

                            <td>
                                <br>
                                <br>
                                <br>$0.40
                            </td>
                        </tr>

                        <tr>
                            <td>9. tasas administrativa juridicas  
                                <br>a) inscripcion de documentos privados por cada uno…………………………………………
                                <br>b) pago por titulos de predios urbanos..
                                <br>c) por inspeccion a inmuebles a solicitud de la parte interesada……………………………….
                                <br>d)Reposicion de titulos de predios rusticos y urbanos  cada uno ………………………………
                            </td>

                            <td>
                                <br>
                                <br>$15.00
                                <br>$50.00
                                <br>
                                <br>$5.00
                                <br>
                                <br>$75.00
                            </td>
                        </tr>

                        <tr>
                            <td>10. Registro de estado familiar 
                                <br>a) certificacion y constancia extendida por el registro del edo. Fam………………….
                                <br>b) certificacion y constancia extendida por el alcalde, cada una………………………..
                                <br>c) extencion de carnet de minoridad…..
                                <br>Matrimonio: En oficina: dias Habiles……
                                <br>en dias no habiles…………………………………
                                <br>fuera de oficina: En dias habiles (zona urbana y rural)………………………………………
                            </td>

                            <td>
                                <br>
                                <br>$1.90
                                <br>
                                <br>$0.95
                                <br>$0.90
                                <br>$10.00
                                <br>$15.00
                                <br>
                                <br>$20.00
                            </td>
                        </tr>

                        <tr>
                            <td>11. revision de planos 
                                <br>a) para construcion de cualquier naturaleza por c/mt.2/mt.3 o lineal………………………
                                <br>b) de urbanizaciones, parcelaciones o lotificaciones, por cada lote…………………
                            </td>

                            <td>
                                <br>
                                <br>$1.00
                                <br>
                                <br>$15.00
                            </td>
                        </tr>

                         <br>

                        <tr>
                            <th colspan="2">LUIS LOPEZ</th>
                        </tr>

                        <tr>
                            <td>12. por derechos del uso del suelo y subsuelo así:
                                <br>a) por romperadoquinado, empedrado, concretiado etc. Para realizar reparaciones o proyectos por metro cuadrado, cubico o lineal…….
                                <br>b) por rompimiento de aceras, calles por empresa por instalacion de medidor de agua, postes de cualquier tipo. Etc por cada uno………
                                <br>c) cobro mensual por rotulos instalado no prohibido, c/u………………………………………
                            </td>

                            <td>
                                <br>
                                <br>
                                <br>$15.00
                                <br>
                                <br>
                                <br>$20.00
                                <br>
                                <br>$5.00
                            </td>
                        </tr>

                        <tr>
                            <td>13. Torres, postes de concreto o similares. 
                                <br>Torre metalica, antenas y postes de mas de 35 pies o similares, propiedad del estado o de empresa cualquier clase, c/u al mes……………………
                                <br>postes asta de 35 pies de cncreto, telescopico, etc., propiedad del estado o Empresa de cualquier clase,  c/u al mes ………………………………….
                                <br>cobro mensual por el usufructo de los postes del tendido electrico municipal por las Empresas electricas que lo utilizan, c/u………………..
                                <br>cobro mensual por usufructo de las redes elecricas municipales por la empresas electricas que la utilizan………………………………………………
                                <br>cobro reciproco por servicio al cliente a empresa que cobren dichos servicios a los recibos que la municipalidad  les cancela ………………
                                <br>Cobro a domicilio a  las empresas que no cancelen las tasas, impuestos, ect. En la respectiva tesoreria de la municipalidad………………
                                <br>El entronque a la a red electrica municipal de proyecto ejecutado por empresas electrica, por cada entronque……………..
                            </td>

                            <td>
                                <br>
                                <br>
                                <br>$15.00
                                <br>
                                <br>
                                <br>$2.00
                                <br>
                                <br>
                                <br>$1.00
                                <br>
                                <br>
                                <br>$300.00
                                <br>
                                <br>
                                <br>$25.00
                                <br>
                                <br>
                                <br>$50.00
                                <br>
                                <br>
                                <br>$500.00
                            </td>
                        </tr>

                        <tr>
                            <td>14. permisos
                                <br>permiso para situar materiales de construcion en las calles urbanas sin estorbar el transito de vehiculos, personas o cierre de calles p/eventos…………………………
                                <br>permiso anual por chalet o comedor en sitios de propiedad privada…………………………………
                                <br>permiso anual para colocar anuncios temporales o fijos ………………………………
                            </td>

                            <td>
                                <br>
                                <br>
                                <br>
                                <br>$5.00
                                <br>
                                <br>$13.00
                                <br>
                                <br>$25.00
                            </td>

                        </tr>
                        
                        <tr>
                            <th colspan="2">LUIS LOPEZ</th>
                        </tr>
                        
                        <tr>
                            <td>
                                <br>En calle o carreteras, excepto los prohibido por otra leyes………………………………………
                                <br>permiso para romper pavimento, adoquinado etc. En las calles o aceras con el objeto de hacerreparaciones o conexiones de agua u otro fin. c/u……………………………………..
                                <br>permiso para cada celebracion de cumpleaños bailes. Etc. c/u………………………………………
                                <br>permiso por instalacion de cabina o caja telefonica. c/u…………………………….
                                <br>Permiso de instalacion de poste hasta 35 pies…………………………………………………..
                                <br>permiso para instalacion de poste de mas de 35 pies y torres metalicas de cualquier tamaño cada una………………………………………………..
                                <br>permiso para realizar proyectos nuevos a ampliaciones por las empresas electicas, cable de telefonia u otra. Por cada una…………
                                <br>permiso anual por circulacion de buses.
                                <br>permiso anual por operar billares .,……..
                                <br>permiso anual por rotulos pequeños de tienda doctor abogado ,etc……………………………..
                                <br>permiso anual por operar tiendas………
                                <br>permiso anual por operar maquinas de monedas no no prohibidas por la ley………………………..
                                <br>permiso anual para operar sus negocios las empresas de telefoni, cable electricidad, agua y otros ………………………………………………….
                                <br>permiso por construcion de cualquier clase en vivienda por c/ vez……………………………….
                            </td>
                                
                            <td>
                                <br>
                                <br>$50.00
                                <br>
                                <br>
                                <br>
                                <br>$35.00
                                <br>
                                <br>$2.00
                                <br>
                                <br>$25.00
                                <br>
                                <br>$30.00
                                <br>
                                <br>
                                <br>$100.00
                                <br>
                                <br>
                                <br>$500.00
                                <br>$75.00
                                <br>$15.00
                                <br>
                                <br>$2.00
                                <br>$10.00
                                <br>
                                <br>$15.00
                                <br>
                                <br>
                                <br>$150.00
                                <br>
                                <br>$12.50
                            </td>    
                        </tr>       

                    </tbody>

                </table>

            </div>       
        </div>
    </div>
</section>

{% endblock cuerpo %}
    
{%endblock%}