{% extends 'Shared/shared.html' %}
{% load staticfiles %}
{% block titulo %}
  Contactenos - Alcaldia de San Miguel Tepezontes
{% endblock titulo %}
{% block contenido %}
  {% block JS %}
    {{block.super}} <!--Esto manda a llamar todos los script-->
  {% endblock JS %}
  <div class="call-to-action">
    <div class="call-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-10">
            <div class="subscribe-text">
            </div>
          </div>
          <div class="col-md-4 text-center">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="call-to-action">
    <div class="call-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-10">
            <div class="subscribe-text">
              <br>
              <br>
              <h3>Quienes Somos</h3>
              <p style="text-align:justify;">Alcaldía Municipal de San Miguel Tepezontes, somos una institución transparente con un alto nivel de compromiso y responsabilidad, buscamos la unión y
              la cooperación de nuestros ciudadanos para un mejor ambiente ayudando así al desarrollo cultural y económico de nuestro municipio apoyando a todos los habitantes.</p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="counter-item text-center">
              <br>
              <br>
              <img src="{% static "img/Index/Contactanos/ciudad.jpg" %}" border="0" width="200" height="200">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h3>Contactenos</h3>
          </div>
        </div>
        <div class="col-md-7 col-sm-offset-0 col-sm-6 col-xs-offset-1 col-xs-10">
          <div class="contact-form">
            <form role="form" method="POST" nctype="multipart/form-data">
              {% csrf_token %}
              <div class="col-md-6">
                <input style="background-color:white;" type="text" class="form-control" name="usuario" id="usuario" placeholder="Nombre" required/>
              </div>
              <div class="col-md-6">
                <input style="background-color:white;" type="email" class="form-control" name="correo" id="correo" placeholder="Correo" required/>
              </div>
              <div class="col-md-12">
                <textarea style="background-color:white;" class="form-control" placeholder="Ingresa tu mensaje" name="peticion" id="peticion" rows="6"></textarea required/>
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="contact-button">Enviar Mensaje</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-10">
          <div class="address">
            <h4>Direccion</h4>
            <p>Barrió El Centro, Calle Arce,<br>
              San Miguel Tepezontes, Depto. de La Paz,<br>
              El Salvador<br>
              <div class="email"><i class="fa fa-at"></i>recepcionsanmigueltepezontes@gmail.com<br>
                <i class="fa fa-mobile"></i>2362-4800
              <i class="fa fa-mobile"></i>2362-4802</div>
              
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15510.42668493238!2d-89.02814320355648!3d13.620818050505765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f634bf7b98fbe65%3A0xeaec554dc56f5fa5!2sSan+Miguel+Tepezontes%2C+El+Salvador!5e0!3m2!1ses!2ses!4v1476652951547" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact" id="contatosEmergencia" style="background-color: #1C9792">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h3>Contactenos de Emergencia</h3>
          </div>
        </div>
        <ul class="list-inline social-buttons">
          {% for contacto in contactos %}
            <li>
              <div class="email"><i></i>{{contacto.nombre_contacto}}
                <br>
                <i class="fa fa-mobile"></i>{{contacto.telefono}}
              </div>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {% endfor %}
          <div class="row">
          </ul>
        </div>
      </div>
    </div>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.countTo.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.waypoints.min.js" %}"></script>
  {% endblock contenido %}